* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $bg-grey;
  color: $font-color;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  font-family: $font-source;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

// USEFUL ELEMENTS
// -----------------------------------------------

hr {
  background:  $border-grey;
  border:      none;
  height:      1px;
  line-height: 1px;
  margin:      5px 0px;
  overflow:    hidden;
}

.cl {
  clear:       both;
  height:      0px;
  line-height: 0px;
  overflow:    hidden;
}

.floatR {
  float: right;
}

.floatL {
  float: left;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
