// VARIABLES
// -----------------------------------------------

// Colors
$bg-grey:           #F0F0F0;
$lgrey:             #FAFAFA;
$grey:              #71777C;
$dgrey:             #3A3B3D;
$transparent-grey:  #f8f8f8;

$border-grey:       #E6E6E6;
$border-dgrey:      #D6D6D6;

$red:               #d70808;
$orange:            #f05a28;
$green:             #84c600;
$dark-green:        #599623;

$blue:              #3FCACD;
$pink:              #FD6764;
$purple:            #8F8CE8;

$form-bg:           #EDEDED;
$form-border:       #D6D6D6;

// Fonts
$font-color: $dgrey;
$font-family: 'Roboto', Helvetica, Arial, sans-serif;
$font-source: 'Source Sans Pro', sans-serif;
$font-droid: 'Droid Serif', sans-serif;


// Sidebar
$sidebar-width: 320px;

// Header
$header-height: 145px;
$header-height-phone: 115px;

$header-presentation-height: 80px;
$header-presentation-height-phone: 60px;