#room-selection, {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 30px 0;

  @include respond-to(xs) {
    padding: 30px 20px 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    &:after {
      content: "";
      flex: auto;
    }

    li {
      background: white;
      box-shadow: 0px 1px 2px rgba(0,0,0,0.10);
      display: block;
      float: left;
      min-height: 350px;
      opacity: 0;
      padding: 30px 30px 60px;
      position: relative;
      margin: 0 2.5% 30px 0;
      text-align: center;
      transition: transform 0.2s ease, opacity 0.5s ease;
      width: 23.125%;

      &:nth-of-type(4n-4) {
        margin-right: 0;
      }

      @include respond-to(md) {
        margin-right: 4%;
        width: 48%;

        &:nth-of-type(2n-2) {
          margin-right: 0;
        }
      }

      @include respond-to(xs) {
        margin-bottom: 15px;
        margin-right: 0 !important;
        min-height: 0;
        padding-bottom: 75px;
        width: 100%;
      }

      &:hover {
        box-shadow: 0px 8px 11px rgba(181,153,153,0.06);
        transform: translateY(-5px);

        @include respond-to(xs) {
          box-shadow: 0px 1px 2px rgba(181,153,153,0.10);
          transform: none;
        }
      }

      h3 {
        font-family: $font-droid;
        font-size: 1.8rem;
        margin: 5px 0 0;
      }

      hr {
        margin: 10px auto;
        width: 25px;
      }

      .desc {
        color: $grey;
        font-size: 1.4rem;
        margin-bottom: 20px;
      }

      .info-group {
        margin: 0 auto 10px;
        text-align: left;
        width: 125px;
      }

      .user-image {
        border-radius: 0;

        img {
          border-radius: 50%;
        }
      }

      &.new {
        @include keyframes-call(fade-in, 0.4s, 1);
      }

      &.out {
        @include keyframes-call(fade-out, 0.2s, 1);
        opacity: 0;
      }

      a.join {
        bottom: 30px;
        color: $blue;
        left: 30px;
        position: absolute;
        right: 30px;

        &:hover {
          color: darken($blue, 10%);
        }

        &.rejoin {
          color: $pink;

          &:hover {
            color: darken($pink, 10%);
          }
        }
      }
    }
  }
}

@for $i from 1 through 50 {
  #room-selection ul li:nth-child(#{$i}) {
    transition-delay: (($i - 1) * 0.1s);
  }
}
.room-selection.loaded #room-selection ul li {
  opacity: 1;
}
